<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Acompanhe o blog no GitHub e LinkedIn:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network d-flex">
                    <li>
                        <a href="https://github.com/petry078" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>   
                    <li>
                        <a href="https://linkedin.com/in/petry078" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-light text-center py-3">
        <span class="text-dark"> © 2020 Copyright: Guilherme M. Petry</span>
    </div>
</footer>
