#img-bg {
    background-image: url(https://s1.gifyu.com/images/ezgif.com-gif-maker-143fd86a2e2698329.gif);

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}