<div class="container-fluid">
  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="fs-54">Seja bem vindo!</h1>
          <h5 class="fs-18">Desabafa aí, vai...</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5 ">
        <div class="col-md-6">
          <button class="btn btn-outline-light mr-2"><a href="#postagens" class="text-white">Ver postagens</a></button>
          <button class="btn btn-light" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="https://i.imgur.com/EOaM0PH.gif" width="100%" alt="">
    </div>
  </div>
</div>

<div class="container mt-2 mb-2" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-todasPostagens-tab" data-toggle="tab" href="#nav-todasPostagens" role="tab"
        aria-controls="nav-todasPostagens" aria-selected="true">Todas postagens</a>

      <a class="nav-link" id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab"
        aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</a>

      <a class="nav-link" id="nav-porCategoria-tab" data-toggle="tab" href="#nav-porCategoria" role="tab"
        aria-controls="nav-porCategoria" aria-selected="false">Postagens por categoria</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--Todas as postagens-->
    <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
      aria-labelledby="nav-nav-todasPostagens-tab">Todas postagens</div>

    <!--Minhas postagens-->
    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">Minhas
      postagens</div>

    <!--Postagens por categoria-->
    <div class="tab-pane fade" id="nav-porCategoria" role="tabpanel" aria-labelledby="nav-porCategoria-tab">Postagens
      por categoria</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagemLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="novaPostagemLabel">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo">
        </div>

        <div class="form-group">
          <label for="titulo">Texto</label><br>
          <textarea class="form-control" name="texto" id="texto" rows="12" cols="48"></textarea>
        </div>

        <div class="form-group">
            <label for="categoria">Escolha uma categoria <a data-dismiss="modal" routerLink="/temas">ou cadastre uma nova</a>:</label>
            <select name="categoria" id="categoria" class="form-control">
                <option value="">Categorias</option>
            </select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Publicar</button>
      </div>
    </div>
  </div>
</div>
